@font-face {
    font-family: 'Larish';
    src: url('../font/Larish_Neue_Semibold.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

@import "_variables.scss";
@import "_mixin.scss";

/* ================================ 
        GENERAL STYLES
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* ================================ 
        OVERALL STYLES
================================ */
header,
section,
footer {
    padding: 0 8%;
}

p {
    font-size: $small;
}

.RSVP-button {
    color: $main-color;
    font-size: $small;
    text-decoration: none;
    padding: 20px 50px;
    border: 1px solid $main-color;
    transition: .5s ease;
}

.RSVP-button:hover {
    @include setbgcolor(white);
    border: 1px solid $secondary-color;
    transition: .5s ease;
}

h1 {
    font-size: $large;
    font-family: Larish;
    line-height: 0.8;
}

h2 {
    font-size: $large;
    font-family: Larish;
}

/* ================================ 
        HEADER STYLES
================================ */
/******** Header Nav ********/


/* ================================ 
        MAIN STYLES
================================ */

/* ================================ 
        FOOTER STYLES
================================ */